body{
    background-color: rgba(30, 186, 247, 0.916);
    /* display: flex;
    justify-content:center;
    align-items: center;
    height: 100vh; */
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    position: absolute;
    background-color: whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; /* Centers the text inside the container */
    padding: 20px;
    border-radius:10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button{
    padding: 4px 10px;
    border-radius: 8px;
    background-color: rgba(0, 174, 255, 0.873);
    font-weight: 600;
    cursor: pointer;
    color:white;
}

button a{
    text-decoration:none;
}
button:hover{
    background-color: rgba(0, 98, 255, 0.873); 
}