{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'style\home.css' %}">
</head>

<body>

    <div class="container">
        <div class="item"><a href="statistics/">Statistics</a></div>
        <div class="item"><a href="payment/">Payment</a></div>
        <div class="container-2"
        {% if user.is_authenticated%}
    
        <button type="submit"><a href='/signout/'>SignOut</a></button>

        {% else %}

        <button type="submit"><a href='/signin/'>SignIn</a></button>

        {% endif %}
        </div>

    </div>
    
</body>
</html>
