
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map</title>
    <script src='https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css' rel='stylesheet' />
</head>
<body>
    
    {% block content %}
    {% include 'navbar.html'%}
    
    <div id='map' style='width: 100%; height: 700px;'></div>
    <script>
    mapboxgl.accessToken = 'pk.eyJ1Ijoic3NlZ2F3YWpvZTgiLCJhIjoiY2xzNjB5YWhsMXJocjJqcGNjazNuenM1dyJ9.oWRkBvrevz2HGD3oWLFdWw';
    const map = new mapboxgl.Map({
	container: 'map', // container ID
	style: 'mapbox://styles/mapbox/streets-v12', // style URL
	center: [ 32.58251970,0.34759640], // starting position [lng, lat]
	zoom: 12, // starting zoom
    });
    /*var maker = new mapboxgl.Marker()
        .setLngLat([-77.727127,39.52037])
        .addTo(map);*/
    </script>
    {% endblock%}
    
    
</body>
</html>